<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width:50px;
            height:50px;
        }
    </style>
</head>
<body>
    <div>
        <img src="/img/avatar.jpeg" />
        <p>[[name]]</p>
    </div>
    <div id="app">
        <input type="text" v-model="message">
        {{message}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
    
    <script src="https://cdn.staticfile.org/systemjs/6.10.2/system.min.js"></script>

    <script type="module">
        System.import('/js/data_bundle.js').then(res => {
            console.log('module', res.default);
        })
    </script>
    <script nomodule>
        System.import('/js/data_bundle.js').then(res=>{
            console.log('nomodule',res.default)
        })
    </script>
</body>
</html>